{% extends "partials/base.html" %}
{% load static %}
{% block title %}  Login {% endblock%}
{% block content%}

<body>
    <div class="container py-5">
        <div class="row py-5">
            <form class="col-md-6 m-auto bg-light p-5 rounded" method="post">
                {% csrf_token %}
                <h2 class="text-center mb-4">Login</h2>

                {% if messages %}
                    <div class="alert alert-danger">
                        {% for message in messages %}
                            <p>{{ message }}</p>
                        {% endfor %}
                    </div>
                {% endif %}

                {{ form.as_p }}

                <div class="text-center">
                    <button type="submit" class="btn btn-success btn-lg px-4">Login</button>
                </div>
                <div class="text-center mt-3">
                    <a href="#">Forgot password?</a> | <a href="{% url 'security:register' %}">Sign up</a>
                </div>
            </form>
        </div>
    </div>

    <!-- Footer -->
    {% include 'partials/footer.html' %}
    <!-- End Footer -->
</body>
{%endblock%}